<html lang="en">
<head>
  {%load static%}
  <title>Education Portal System</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel = "stylesheet" href="{% static 'css/mystyle.css' %}">
</head>
<nav class="navbar navbar-expand-md bg-primary navbar-dark">
<a class="navbar-brand" href=""> Education Portal System </a>
    <button class = "navbar-toggler" type="button" data-toggle="collapse" data-target = "#abc">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="abc">
        <ul class ="navbar-nav">
            <li class ="nav-item"><a class ="nav-link" href="#">Home</a></li>
            <li class ="nav-item"><a class ="nav-link" href="{%url 'about'%}">Team</a></li>
            <li class = "nav-item"><a class ="nav-link" href="{%url 'contact'%}">Services</a></li>
            <li class ="nav-item"><a class ="nav-link" href="{%url 'student'%}">Student Login</a></li>
            <li class = "nav-item"><a class ="nav-link" href="{%url 'admin'%}">Admin Login</a></li>
        </ul>
    </div>
</nav>
{% block body%}
<h1>
    About Us
</h1>
{%endblock%}
